body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: .9em !important;
}

.App {
    margin-top: 7em;
}

#food-search {
    margin-top: 5em;
}

.textBold {
    font-weight: bold;
}

.segmentSmall {
    padding: 0.1em !important;
}

.tableAccordion {
    margin-bottom: 1em;
}

.marginTopButton {
    margin-top: 1em !important;
}

.attached {
    margin: 0 !important;
    padding: 0 !important;
}

.boxed {
    border: 1px solid rgba(34, 36, 38, .1);
    border-collapse: separate !important;
    border-radius: .28571429rem;
}

.rowBoxed {
    border-bottom: 1px solid rgba(34, 36, 38, .1);
    border-collapse: separate;
}

.cellBoxed {
    border-right: 1px solid rgba(34, 36, 38, .1);
}

.noMargin {
    margin: 0 0 !important;
    background-color: rgba(211, 211, 211, .1);
    border-radius: .28571429rem;
}

.stripedRow {
    background-color: rgba(0, 0, 50, .02);
}

.rowBoxed:hover {
    background: rgba(0, 0, 0, .05) !important;
    color: rgba(0, 0, 0, .95) !important;
}

.floatRight {
    float:right;
}

.paddingBottom {
    padding-bottom: 5em;
}

.onTop {
    position: absolute !important;
    z-index: 100;
    width: 33.33333333%;
}

canvas{
    width: 100% !important;
    height: auto !important;
}

